build/
out/
.vs/
CMakeUserPresets.json
CMakeCache.txt
*.user
*.suo
*.sdf
*.opensdf
*.VC.db
*.VC.opendb
.cache/
compile_commands.json
dist/natives/*.dll
dist/natives/*.pdb
dist/natives/maps/*.png
dist/natives/maps/*.jpg
dist/natives/maps/*.jpeg
*.log
